/* ¡Hola persona curiosa que mira los estilos css de mi pagina web, espero que te guste! */

.home {
    text-decoration: none;
    font-weight: bold;
}

.logo {
    border-radius: 50%;
    width: 64;
    height: 64;
}

section {
    padding: 20px;
}

#change-theme {
    font-size: 30px;
}

mark {
    border-radius: 5px;
}

nav {
    margin: 20px;
}
span {
    color: rgb(26, 167, 167);
}

footer {
    text-align: center;
}


.img-cat {
    display: flex;
    justify-content: center;
    align-items: center;
}



.img-cat img {
    width: 500px;
    height: 500px;
}


.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.text {
    align-self: center;
}

.typed-text {
    font-size: 50px;
}


